<phpunit
        bootstrap="./tests/_bootstrap.php"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        convertErrorsToExceptions="true"
        convertWarningsToExceptions="true"
        convertNoticesToExceptions="true"
        verbose="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>